#title {
  text-align: center;
}
#name {
  font-size: large;
}
#nume {
  font-size: large;
}
#lieux {
  font-size: large;
}
#email {
  font-size: large;
}
#start {
  margin-left: 100px;
}
#image {
  border-radius: 50%;
  right: 300px;
  height: 150px;
  width: 150px;
  top: 10px;
  position: absolute;
  right: 60px;

}
body {
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  max-width: 1600px;
  margin-left: 80px;
}
#presantation {
  font-size: 30px;
}
#chers {
  margin-left: 40px;
}
#idk {
  margin-left: 250px;
}
#namee {
  color: pink;
}

#ktiba {
  font-size: 30px;
}
#conclusion {
  padding-left: 50px;
}
#ktibabrk {
  text-align: center;
}
